body {
padding: 0;
margin: 0;
}


html, body, #map {
  height: 400px;
  width: 100%;
}

.component {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%
  overflow: auto;
}

.box {
  position: relative;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  background-color: lightgray;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}