{% extends "layout.html" %}

{% block content %}
  <div id="map"></div>
  <script src="{{ url_for('static', filename='js/universal.js') }}"/></script>
  <script>

    var info = L.control();

    <!--plot marker on center of the city-->
    {% for marker in markers %}
      var markerCenter = L.marker([{{ marker['lat'] }}, {{ marker['lon'] }}]).addTo(map)
      markerCenter.bindPopup("{{ marker['popup'] }}").openPopup();
    {% endfor %}

    <!--bus stops using df from stops gtfs format-->
    {% for bus_stop_all in bus_stops_all_markers %}
      var markerBusStops = L.marker([{{ bus_stop_all['stop_lat'] }}, {{ bus_stop_all['stop_lon'] }}]).addTo(map)
      //markerBusStops.bindPopup("{{ bus_stop_all['stop_name'].split(",")[1:][0] }}").openPopup();
      markerBusStops.bindPopup("<p>{{ dict(bus_stop_all)['stop_name'] }}</p><p>{{ dict(bus_stop_all)['stop_lat'] }}</p>").openPopup();

      <!--return coordinates of marker when clicked in console log-->
      markerBusStops.on('click', function (e) {
      var markerlatlng = e.target.getLatLng();
      var latitude = e.target.lat
      console.log(e)
      console.log(markerlatlng);


        // Create variables dor later use in the html

        // return name of the bus stop
        var name = this.getPopup().getContent();

        if (document.getElementById("name-stop") != null){
          document.getElementById("name-stop").innerHTML = name;
        }


        // return latitude and longitude of the bus stop
        var lat =  markerlatlng.lat
        var long = markerlatlng.lng

        if (document.getElementById("lat-stop") != null){
          document.getElementById("lat-stop").innerHTML = lat;
        }
        if (document.getElementById("long-stop") != null){
          document.getElementById("long-stop").innerHTML = long;
        }


        function showMarkerInfo() {
          var content = marker.options.id;
          L.popup().setLatLng(marker.getLatLng()).setContent(content).openOn(map);
        }

        // return arrival time
        var parentStation = this.getPopup().setContent({{ bus_stop_all['parent_station'] }});

        if (document.getElementById("parent-station") != null){
          document.getElementById("parent-station").innerHTML = e.target.parentStation;
        }



      });


    {% endfor %}

  </script>

  <html>
    <div class="component">
        <div class="col-sn-4">
          <h4 id="name-stop"></h4>
        </div>
      <div class="row">
          <div class="col-sn-4">
            <h4 id="lat-stop"></h4>
          </div>
          <div class="col-sn-4">
            <h4 id="long-stop"></h4>
          </div>
          <div class="col-sn-4">
            <h4 id="parent-station"> {{ latitude }}</h4>
          </div>
      </div>
    </div>
  </html>

{% endblock content %}






