{% extends "layout.html" %}

{% block content %}
  <div id="map"></div>
  <script src="{{ url_for('static', filename='js/universal.js') }}"/></script>
  <script>

    var info = L.control();

    <!--plot marker on center of the city-->
    {% for marker in markers %}
      var markerCenter = L.marker([{{ marker['lat'] }}, {{ marker['lon'] }}]).addTo(map)
      markerCenter.bindPopup("{{ marker['popup'] }}").openPopup();
    {% endfor %}






  </script>

  <html>
    <div class="component">
        <div class="col-sn-4">
          <h4 id="name-stop"></h4>
        </div>
        <div class="col-sn-4">
          <h4 id="lat-stop"></h4>
        </div>
        <div class="col-sn-4">
          <h4 id="long-stop"></h4>
        </div>
        <div class="col-sn-4">
          <h4 id="arrival-time"></h4>
        </div>
        <div class="col-sn-4">
          <h4 >Resultado: {{ test }}</h4>
        </div>
    </div>
  </html>

{% endblock content %}






